.pagination-wrapper {
  margin-top: 0rem;
}



.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__list > li {
  flex: 1 0 4.4rem;
  max-width: 4.4rem;
  
}



.pagination__list > li:not(:last-child) {
  margin-right: 0.8rem;
}

.pagination__item {
  color: rgb(var(--color-foreground));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
  border: 1px solid #d8d8d8;
}

a.pagination__item:hover::after {
  height: 0.1rem;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

.pagination__item--current::after {
  height: 0.1rem;
}

.pagination__item--current {
  background: #000;
  color: #fff;
}

.pagination__item--current::after,
.pagination__item:hover::after {
  
  display: block;
  width: 2rem;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
}

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(180deg);
}



.pagination__item--prev .icon {
  margin-right: -0.2rem;
}


.pagination__item-arrow::after {
  display: none;
  border: none;
}

.pagination__item-arrow {
  border: none;
}
