@media (min-width: 1400px) {
    .header--has-menu {
        gap: 105px;
    }

    .list-menu--inline {
        gap: 80px;
    }
}

@media (min-width:990px) {

    .header__icon svg {
        margin-right: 10px;
    }

    .template--index .section-header:not(:hover) .header__menu-item {
        color: #fff;
        transition: 0.3s;
    }
    
    .template--index main {
        margin-top: -88px;
    }
    
    .template--index .section-header:not(:hover) .header-wrapper--border-bottom {
        background-color: transparent;
        transition: 0.3s;
    }
    
    .template--index .section-header:not(:hover).shopify-section-group-header-group {
        background-color: transparent;
        transition: 0.3s;
    }
    
    .template--index .section-header:not(:hover) .header__heading-logo {
        filter: invert(1);
        transition: 0.3s;
    }
    
    .template--index .section-header:not(:hover) .header__icon svg *{
        stroke: #fff;
        transition: 0.3s;
    }
    
    .template--index .section-header:not(:hover) .header__icon {
        color: #fff;
        transition: 0.3s;
    }
    
    .template--index .section-header:not(:hover) .header-wrapper--border-bottom {
        border-color: #fff;
        transition: 0.3s;
    }
        
}

.header__menu-item {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */

}

.header__icons {
    gap: 46px;
}

.header__icon {
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.mega-menu__list {
    gap: 115px;
    margin: 0 auto;
    padding: 0 50px;
}

.mega-menu__link.mega-menu__link--level-2.link {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    padding: 0px;
    margin-bottom: 16px;
   
   
}
.mega-menu__link.link {
    line-height: 22px;
    margin-bottom: 8px;
    padding: 0px;
    
}

@media (max-width: 1200px) {
    .mega-menu__list {
        gap: 0 !important;
    }

    .header__icon .header__icon-text {
        display: none;
    }
    .header__icons {
        gap: 12px;
    }
}



.mega-menu__link.link:hover {
    text-decoration: none;
}

