@media (min-width: 1460px) {
    .header--has-menu {
        gap: 105px;
    }

    .list-menu--inline {
        gap: 80px;
    }
}

@media (min-width:990px) {

    .header__icon svg {
        margin-right: 10px;
    }        
}

@media (min-width: 768px) {
    .template--index .section-header:not(:hover):not(.scrolled-past-header) .header__menu-item {
        color: #fff;
        transition: 0.3s;
    }
    
    .template--index main {
        margin-top: -88px;
    }
    
    .template--index .section-header:not(:hover):not(.scrolled-past-header) .header-wrapper--border-bottom {
        background-color: transparent;
        transition: 0.3s;
    }
    
    .template--index .section-header:not(:hover):not(.scrolled-past-header).shopify-section-group-header-group {
        background-color: transparent;
        transition: 0.3s;
    }
    
    .template--index .section-header:not(:hover):not(.scrolled-past-header) .header__heading-logo {
        filter: invert(1);
        transition: 0.3s;
    }
    
    .template--index .section-header:not(:hover):not(.scrolled-past-header) .header__icon svg *{
        stroke: #fff;
        transition: 0.3s;
    }
    
    .template--index .section-header:not(:hover):not(.scrolled-past-header) .header__icon {
        color: #fff;
        transition: 0.3s;
    }
    
    .template--index .section-header:not(:hover):not(.scrolled-past-header) .header-wrapper--border-bottom {
        border-color: rgba(255, 255, 255, 0.16);
        transition: 0.3s;
    }
    
    .header__icon--menu .icon-open {
        visibility: none;
    }
}

.header__icons {
    gap: 46px;
}

@media (max-width: 767px) {
    .template--index main {
        margin-top: -68px;
    }

    .template--index .section-header:not(.scrolled-past-header):not(.menu-open) .header__menu-item {
        color: #fff;
        transition: 0.3s;
    }
    
    .template--index .section-header:not(.scrolled-past-header) .header-wrapper--border-bottom {
        background-color: transparent;
        transition: 0.3s;
    }
    
    .template--index .section-header:not(.scrolled-past-header):not(.menu-open) {
        background-color: transparent;
        transition: 0.3s;
    }
    
    .template--index .section-header:not(.scrolled-past-header) .header__heading-logo {
        filter: invert(1);
        transition: 0.3s;
        width: 127px;
        height: auto;
    }
    
    .template--index .section-header:not(.scrolled-past-header) :not(.close__icon){
        stroke: #fff;
        
    }

    .template--index .section-header:not(:hover):not(.scrolled-past-header):not(.menu-open) .header__icon {
        color: #fff;
        transition: 0.3s;
    }

    .template--index .section-header:not(.scrolled-past-header) .header__icon .icon-close {
        z-index: 9999999999999;
        top: -10px;
        left: 15px;
        fill: #000;       
    }

    .template--index .section-header:not(.scrolled-past-header) .header__icon .icon-close path {
        stroke: #000 !important;  
    }
    
    .template--index .section-header:not(.scrolled-past-header):not(.menu-open) .header-wrapper--border-bottom {
        border-color: rgba(255, 255, 255, 0.16);
        transition: 0.3s;
    }

    .header__icon--menu .icon-hamburger {
        display: none;
    }
    
    .header__icon--menu .icon-open {
        visibility: visible;
    }
    .cart-count-bubble {
        display: none;
    }

    .header__icon--cart {
        padding-left: 20px;
    }

    .header__icons {
        gap: 0px !important;
    }
}

.header__menu-item {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */

}

.header__menu-item svg {
    stroke: #fff;
}

.header__icon {
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.mega-menu__list {
    gap: 115px;
    margin: 0 auto;
    padding: 0 50px;
}

.mega-menu__link.mega-menu__link--level-2.link {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    padding: 0px;
    margin-bottom: 16px;
   
   
}
.mega-menu__link.link {
    line-height: 22px;
    margin-bottom: 8px;
    padding: 0px;
    
}

@media (max-width: 1200px) {
    .mega-menu__list {
        gap: 0 !important;
    }

    .header__icon .header__icon-text {
        display: none;
    }
    .header__icons {
        gap: 12px;
    }
}



.mega-menu__link.link:hover {
    text-decoration: none;
}