.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: calc(5rem + var(--page-width-margin));
  }
}

.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

.article-template__hero-small {
  height: 11rem;
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 22rem;
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

.article-template header {
  margin-top: 2rem;
  margin-bottom: 4rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 2rem;
    text-align: center;
  }
}

.article-template__title {
  margin: 0;
}

.article-template__title:not(:only-child) {
  margin-bottom: 2.5rem;
  color: #000;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 116.667% */
  letter-spacing: 1.2px;
}
.article-template__hero-adapt {
  max-width: 998px;
}

.caption-with-letter-spacing time {
  color:#6E7172;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
  /* 150% */
}
.article-template__comments-comment p {
  color:#6E7172;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.article-template__content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.article-template__content h2 {
  color:  #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
  letter-spacing: 0.96px;
}

.article-template__content h4 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 108.333% */
  letter-spacing: 0.48px;
}

.article-template__content ol li, .article-template__content ul li {
  list-style-position: outside;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-left: 17px;
}

.article-template__content th {
  color: #999;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  padding: 20px 40px;
  text-align: right;
}

.article-template__content th:first-of-type {
  text-align: left;
}

.article-template__back {
  display: none;
}

.article-template__content td {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  text-align: center;
  padding: 20px 40px;
  text-align: right;
}

.article-template__content td:first-of-type {
  text-align: left;
}


.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}

/* .article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
} */

@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 2rem 0;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
  letter-spacing: 0.96px;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  /* color: rgba(var(--color-foreground), 0.75); */
  /* background-color: rgb(var(--color-background)); */
  /* margin-bottom: 1.5rem; */
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0px 15px 0px 0px;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

.comment-form h2 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 108.333% */
  letter-spacing: 0.48px;
}
.form-status-list h3 {
  display: none;
}
.article-template__comment-fields .field__input {
  border: none;
  border-bottom: 1px solid #D8D8D8;
}

.article-template__comment-fields .field__label {
  color: #999;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.article-template__comments-fields .text-area {
  border: none;
  border-bottom: 1px solid #D8D8D8;
}

.article-template__comments-fields .form__label {
  color: #999;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.article-template__comment-wrapper .article-template__button {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  padding: 20px 115px;
  max-width: 353px;
}
@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}

.article-template__comments-comment .circle-divider {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.36px;
}

@media (max-width:768px) {
  .article-table {
    overflow-x: overlay;
  }

  .article-table table {
    min-width: 600px;
  }
}

.breadcrumbs {
  margin-top: 40px;
  padding-left: 150px;
}