@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


.collection__title .inline-richtext {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: .96px;
    text-align: center;
}
@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
}

@media screen and (max-width: 749px) {
  .collection .loading-overlay {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    left: 0;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}

.collection__title .inline-richtext {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: .96px;
    text-align: center;
}

.full-unstyled-link {
    color: #3a3836;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: .32px;
    text-decoration: none;
    text-align: center;
}

.card__information .price .price__container {
  color: #3A3836;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.card__information .price {
  text-align: center;
}

@media (max-width:768px) {
  .collection__title .inline-richtext {
    font-size: 24px;
  }
  .collection__title {
    margin: 0px !important;
  }

  .collection {
    padding-top: 30px;
  }

  .card__information .full-unstyled-link {
    font-size: 12px;
  }

  .card__information .price .price__container {
    font-size: 12px;
  }

  .collection__view-all .underlined-link p {
    font-size: 14px;
    margin: 0px;    
  }   
}

.facets-vertical-sort .field-search {
  max-width: 324px;
  width: 100%;  
}

.facets-vertical-sort {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.template-search .facets-vertical-sort {
  justify-content: flex-end;
}

.facets-vertical-sort .field-search .field__search {
  position: absolute;
  top: 0px;
  right: 10px;
  background: transparent;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
  
  padding-top: 13px;
}


.search-input {
  width: 100%;
  border: none;
  border: 1px solid #D8D8D8;
}
 
.field-search {
  position: relative;
}

.search-input::placeholder {
  opacity: 1;
  color: #6E7172;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
