.text-title {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px; /* 116.667% */
    letter-spacing: 1.2px;
    margin: 0px;
    margin-bottom: 120px;

}


@media (max-width:1350px) {
    
}
.text-title p {
    text-align: left;
    display: flex;
    justify-content: center;
    margin: 0px;
}